<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3B5998;">
	<div class="container">
  <a class="navbar-brand" href="/" style="color: #fff">faceblog</a>
  <div class="collapse navbar-collapse" id="navbarText">
  <div class="navbar-nav ml-auto">
  	<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <button class="btn btn-light btn-margin-right rounded my-2 my-sm-0" type="button" id="relocate_signup">Register</button>
      <button class="btn btn-light rounded my-2 my-sm-0" href="/login" type="button" id="relocate_login">Sign in</button>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
</body>
</html>
