<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script> -->
</head>
<body>

<a href="/login">Sign in</a> <a href="/signup">Signup</a> <a href="/profile">Profile</a> <a href="/createpost">Create Post</a> <a href="/posts">Posts</a> <a href="/allposts">All posts</a>

<h1><%= foundPost.title %></h1>
<p><%= foundPost.body %>

<form method="POST" action="/allposts/<%= foundPost.id%>">
	<textarea name="comment" placeholder="Your comment..."></textarea><br>
	<input type="submit" name="submit">
</form>

<p><% findComment.forEach(function(comment) { %>
	<p><%= comment.comment %></p>
<% }) %>

</body>
</html>